#root {
    display:flex;
    justify-content: center;
}

body {
    background-color: whitesmoke;
}

form {
    width: 85%;
    display: flex;
    margin-bottom: 1em;
}

form input[type=text]{
    flex:3
}

form input[type=submit]{
    flex: 1;
    background: #444;
    border: none;
    color: #fff;
    padding: 0.4em 0;
}

form input[type=submit]:hover {
    background: #888;
    cursor: pointer;
}

p {
    display: inline-block;
}

ol {
    width: 85%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    width: 85%;
    background-color: white;
    border: 1px solid #efefef;
    box-shadow:
    /* The top layer shadow */
        0 1px 1px rgba(0,0,0,0.15),
            /* The second layer */
        0 10px 0 -5px #eee,
            /* The second layer shadow */
        0 10px 1px -4px rgba(0,0,0,0.15),
            /* The third layer */
        0 20px 0 -10px #eee,
            /* The third layer shadow */
        0 20px 1px -9px rgba(0,0,0,0.15);
}

label {
    display: block;
}

label:hover {
    cursor: pointer;
}

.todo-item {
    width: 85%;
    display:flex;
    align-items: center;
    background: #e0e0e075;
    border-bottom: 1px dashed #484444;
    margin-bottom: 1em;
}

.todo-item:hover {
    background: #fdf6f6;
    box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.todo-choose {
    flex:25;
}

.todo-delete {
    flex:3;
}

.todo-delete button {
    background: #fd774f;
    border: none;
    border-radius: 50%;
    font-size: 1.5em;
}

.todo-delete button:hover {
    background: linear-gradient(to bottom right, #ff4d18 0%, #000066 100%);
    cursor: pointer;
}
.todo-delete button:focus {
    outline: 0;
}